.messageContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.avatar {
  margin-left: 16px;
  align-self: flex-end;
  margin-bottom: 3px;
}

.card {
  max-width: 600px;
  background-color: transparent;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
}

.formattedMessage {
  font-size: 16px;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 14px;
  border-radius: 14px;
  background-color: #E3F2FD;
  overflow: auto;
  line-height: 1.5;
  display: inline-block;
  max-width: 600px;
  width: fit-content;
}
