@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.3);
}

.dark {
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.3);
}

body {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
  background-color: #FFFFFF;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
